<section data-scroll class="basics" id="basics">
  <div class="container basics__container">
    <div class="section-title">
      <span class="section-title__subtitle">Основы</span>
      <h2 class="section-title__title">Правильно организованное&nbsp;питание</h2>
    </div>
    <div class="basics__wrapper">
      <div class="basics__item">
        <img class="basics__image basics__image--rotate" src="img/basics__image-1.svg" alt="">
        <p class="basics__descr">В числе задач, стоящих перед пищевой промышленностью и предприятиями общественного питания, имеются, в частности, и такие, как увеличение производства консервированных фруктов и овощей для максимально возможной ликвидации сезонных спадов в их потреблении; рост использования бобовых; увеличение потребления населением океанской рыбы; постепенное вытеснение водки виноградным вином и пивом; расширение производства фруктовых и ягодных соков.</p>
      </div>
      <div class="basics__item">
        <img class="basics__image" src="img/basics__image-2.svg" alt="">
        <p class="basics__descr">В числе задач, стоящих перед пищевой промышленностью и предприятиями общественного питания, имеются, в частности, и такие, как увеличение производства консервированных фруктов и овощей для максимально возможной ликвидации сезонных спадов в их потреблении; рост использования бобовых; увеличение потребления населением океанской рыбы; постепенное вытеснение водки виноградным вином и пивом; расширение производства фруктовых и ягодных соков.</p>
      </div>
      <div class="basics__item">
        <img class="basics__image" src="img/basics__image-3.svg" alt="">
        <p class="basics__descr">В числе задач, стоящих перед пищевой промышленностью и предприятиями общественного питания, имеются, в частности, и такие, как увеличение производства консервированных фруктов и овощей для максимально возможной ликвидации сезонных спадов в их потреблении; рост использования бобовых; увеличение потребления населением океанской рыбы; постепенное вытеснение водки виноградным вином и пивом; расширение производства фруктовых и ягодных соков.</p>
      </div>
    </div>
  </div>
</section>