<section data-scroll class="faq" id="faq">
  <div class="container faq__container">
    <div class="section-title">
      <span class="section-title__subtitle">Вопросы</span>
      <h2 class="section-title__title">Все что вы хотели знать о правильном&nbsp;питании</h2>
    </div>
    <ul class="faq__list">
      <li class="faq__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">Безопасно ли облизывать колотушки миксера?</h3>
          <img class="accordion__icon" src="img/accordion__icon.svg">
        </button>
        <div class="accordion__content" aria-hidden="true">
          Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал.
          <br>
          Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.
        </div>
      </li>
      <li class="faq__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">Можно ли класть ананас в пиццу?</h3>
          <img class="accordion__icon" src="img/accordion__icon.svg">
        </button>
        <div class="accordion__content" aria-hidden="true">
          Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал.
          <br>
          Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.
        </div>
      </li>
      <li class="faq__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">Насколько важно уважать культурные корни еды?</h3>
          <img class="accordion__icon" src="img/accordion__icon.svg">
        </button>
        <div class="accordion__content" aria-hidden="true">
          Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал.
          <br>
          Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.
        </div>
      </li>
      <li class="faq__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">Безопасно ли облизывать колотушки миксера?</h3>
          <img class="accordion__icon" src="img/accordion__icon.svg">
        </button>
        <div class="accordion__content" aria-hidden="true">
          Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал.
          <br>
          Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.
        </div>
      </li>
      <li class="faq__item accordion">
        <button class="accordion__control" aria-expanded="false">
          <h3 class="accordion__title">Безопасно ли облизывать колотушки миксера?</h3>
          <img class="accordion__icon" src="img/accordion__icon.svg">
        </button>
        <div class="accordion__content" aria-hidden="true">
          Один из самых острых вопросов современной пищевой эпохи: можно ли облизывать колотушки миксера, если вы взбивали сырое тесто для печенья или даже глотать сырые яйца целиком, хотя те, кого это интересует, составляют меньшинство. Некоторые выступают против того, чтобы облизывать колотушки, и тому подобного, а другие считают, что это помогает строить иммунную систему, и что риск довольно мал.
          <br>
          Те, кто против этого, утверждают, что вы рискуете получить сальмонеллу и что риск этого довольно велик, особенно когда речь идет о безопасности ваших детей. Тем не менее, большинство людей с сильным иммунитетом легко справятся с сальмонеллой без каких-либо осложнений, поэтому противники данного утверждения считают, что риск заразиться чрезвычайно низок. Они говорят, что нет никакой веской причины, чтобы не облизывать колотушки. По их мнению, есть много других вещей, которые убьют вас с большей вероятностью.
        </div>
      </li>
    </ul>
  </div>
</section>