<section data-scroll class="standards" id="standards">
  <div class="container standards__container">
    <div class="section-title">
      <span class="section-title__subtitle">Нормативы</span>
      <h2 class="section-title__title">Нормативы правильного&nbsp;питания</h2>
    </div>
    <div class="standards__wrapper">
      <img class="standards__image" src="img/standards__image.png" alt="">
      <div class="standards__docs">
        <a class="standards__item" href="#">
          <h4 class="standards__item-title">Нормативы правильного питания</h4>
          <p class="standards__item-descr">Список нормативов от 12.04.1957</p>
          <img class="standards__item-img" src="img/standards__item-img.png" alt="">
        </a>
        <a class="standards__item" href="#">
          <h4 class="standards__item-title">Нормативы правильного питания</h4>
          <p class="standards__item-descr">Список нормативов от 12.04.1957</p>
          <img class="standards__item-img" src="img/standards__item-img.png" alt="">
        </a>
        <a class="standards__item" href="#">
          <h4 class="standards__item-title">Нормативы правильного питания</h4>
          <p class="standards__item-descr">Список нормативов от 12.04.1957</p>
          <img class="standards__item-img" src="img/standards__item-img.png" alt="">
        </a>
        <a class="standards__item" href="#">
          <h4 class="standards__item-title">Нормативы правильного питания</h4>
          <p class="standards__item-descr">Список нормативов от 12.04.1957</p>
          <img class="standards__item-img" src="img/standards__item-img.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>